@tailwind base;
@tailwind components;
@tailwind utilities;



[data-theme="dark"] {
  background-color: #2b2b2b;
  color: #f1f1f1;
}

[data-theme="light"] {
  background-color: #fff;
  color: #000000;
}

:root {
  --card-back-color: #2b2b2b;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  transition: all;
}

a, button {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ff5a79;
}

::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: silver;
}
